
:root {
    --primery-text-color: #212121;
    --title-text-color:  #757575;
    --accent-color: #2196F3;
    --footer-text-color: rgba(255, 255, 255, 0.4);
   --primery-white-color: #FFFFFF;
}

body{
    background-color: var(--primery-white-color);
   color: var(--primery-text-color);
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   letter-spacing: 0.03em;

   
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}


 /*Стилізація логотипа*/

.logo-text {
    color: #000000;
    font-family: Raleway, sans-serif;
    line-height: 1.19;
    font-weight: 700;
    font-size: 26px;
}

.logo {
    color: var(--accent-color);
}

/*Стилизацыя навигации на другие страницы*/

.site-nav a  {
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav :hover,
.site-nav :focus {
    color: var(--accent-color);
}

/*Стилизацыя  контактной инфрмации*/
.address-title a {
    color:  #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.address-title :hover,
.address-title :focus {
    color: var(--accent-color);
}

/*<!--Баннер-->*/
.page-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.ban {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

}


/*Задачи компании*/

.tasks {
    color: rgba(0,0,0,0);}

.name-tasks {
    font-family: Roboto, sans-serif;
    line-height: 1.14;
    font-size: 14px;
}


.link {
    color:  #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

/*Деятельность компании*/

.section-page {
    font-size: 36px;
    line-height: 1.16;
   text-align: center;
}

.section-title {
    color: var(--primery-text-color);
    line-height: 1.14;
    font-size: 14px;
}
/*Сотрудники компании*/
.section{
    background-color: #F5F4FA;
}

.section-employees{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.employees{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.employee-profession {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;  
}
/*Клиенты*/
.customers-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center

}

/*Подвал*/
footer {
background-color: rgba(0.18, 0.19, 0.23, 1.0);
}

.logo-white{
    color: var(--primery-white-color);
    font-family: Raleway, sans-serif;
    line-height: 1.19;
    font-weight: 700;
    font-size: 26px;
}
.address-list{
    color: var(--primery-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

b {
    color: var(--primery-white-color);
    font-size: 14px;
    line-height: 1.14;
}
.address-dan {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-dan :hover,
.address-dan :focus{
    color: var(--accent-color);
}

address p {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
}


/*PORTFOLIO*/
.portfolio-button{
    color: var(--primery-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button-fons :default, 
.button-fons :hover,
.button-fons :focus {
    color: var(--primery-white-color);
    background: var(--accent-color);
}
    
.project-name{
    color:  var(--primery-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

}
.project{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

}

.project description{
    font-size: 18px;
    line-height: 1.55;
}